<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Cars · Продажи')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<section class="container mt-5 pb-5">
  <div class="card">
    <div class="card-header">
      Список продаж
    </div>
    <div class="table-responsive">
      <table class="table table-hover no-mb">
        <thead class="table-light">
        <th class="text-center">#</th>
        <th class="text-center">Дата</th>
        <th class="text-center">Авто</th>
        <th class="text-center">Покупатель</th>
        <th class="text-center">Стоимость</th>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}">
          <td class="text-center" th:text="${sale.id}"></td>
          <td class="text-center" th:text="${#dates.format(sale.saleDate, 'dd.MM.yyyy')}"></td>
          <td th:text="|${sale.car.make.name} ${sale.car.model.name}, ${sale.car.year}, ${sale.car.vin}|"></td>
          <td th:text="${sale.client.fullName}"></td>
          <td class="text-center" th:text="${sale.amount}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>