<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img th:src="@{/icons/logo-car.png}" alt="" width="64" height="40">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/cars" class="nav-link px-2 text-white">Автомобили</a></li>
                    <li><a href="/sales" class="nav-link px-2 text-white">Продажи</a></li>
                    <li><a href="/services" class="nav-link px-2 text-white">Услуги и цены</a></li>
                    <li><a href="/contacts" class="nav-link px-2 text-white">Контакты</a></li>
                </ul>

                <div class="text-end">
                    <a href="/logout" class="btn btn-warning">
                        Выход
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>