<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Cars · Внутренняя ошибка')"></head>
<body class="form-signin-body text-center">
<div class="form-signin">
  <a href="/"><img class="mb-4" src="/icons/logo-car.png" alt="" width="72" height="72"></a>
  <div class="alert alert-danger" role="alert">
    Внутренняя ошибка
  </div>
  <p class="mb-3 text-muted">Cardealer v1.0<br>K.Smirnova</p>
</div>
</body>
</html>