<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head ('Cars · Карточка клиента')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<section class="container mt-5 pb-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Карточка клиента
            <a th:href="@{/clients/edit/{id}(id=${client.id})}" class="btn btn-sm btn-outline-warning">Редактировать</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3 ">ФИО</div>
                <div class="col-sm-9" th:text="${client.fullName}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Дата рождения</div>
                <div class="col-sm-9" th:text="${#dates.format(client.birthDate, 'dd.MM.yyyy')}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Паспорт</div>
                <div class="col-sm-9" th:text="${client.passport}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Адрес</div>
                <div class="col-sm-9" th:text="${client.postAddress}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Номер телефона</div>
                <div class="col-sm-9" th:text="${client.phoneNumber}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Номер телефона (доп.)</div>
                <div class="col-sm-9" th:text="${client.phoneNumberAlt}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Email</div>
                <div class="col-sm-9" th:text="${client.email}"></div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    Покупки
                </div>
                <div class="table-responsive">
                    <table class="table table-hover no-mb">
                        <thead class="table-light">
                        <th class="text-center">#</th>
                        <th class="text-center">Дата</th>
                        <th class="text-center">Авто</th>
                        <th class="text-center">Сумма</th>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(sales)}">
                            <td colspan="8" class="text-center">Ничего не найдено</td>
                        </tr>
                        <tr th:each="sale : ${sales}">
                            <td class="text-center" th:text="${sale.id}"></td>
                            <td class="text-center" th:text="${#dates.format(sale.saleDate, 'dd.MM.yyyy')}"></td>
                            <td class="text-center" th:text="|${sale.car.make.name} ${sale.car.model.name}, ${sale.car.year}, ${sale.car.vin}|"></td>
                            <td class="text-center" th:text="${sale.amount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>