<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head ('Cars · Редактирование клиента')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<section class="container mt-5 pb-5">
    <form th:action="@{/clients/edit/{id}(id=${client.id})}" th:object="${client}" method="post">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                Добавление покупателя
                <input type="submit" class="btn btn-sm btn-outline-warning" value="Сохранить"/>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-12">
                        <label for="clientLastName" class="form-label">Фамилия</label>
                        <input type="text"  required class="form-control" id="clientLastName" th:field="*{lastName}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientFirstName" class="form-label">Имя</label>
                        <input type="text" required class="form-control" id="clientFirstName" th:field="*{firstName}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientMiddleName" class="form-label">Отчество</label>
                        <input type="text"  required class="form-control" id="clientMiddleName" th:field="*{middleName}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientBirthday" class="form-label">Дата рождения</label>
                        <input type="date"  required class="form-control" id="clientBirthday" th:field="*{birthDate}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientPassport" class="form-label">Паспорт (серия и номер)</label>
                        <input type="text"  required class="form-control" id="clientPassport" th:field="*{passport}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientAddress" class="form-label">Адрес</label>
                        <input type="text"  required class="form-control" id="clientAddress" th:field="*{postAddress}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientPhone" class="form-label">Номер телефона</label>
                        <input type="text"  required class="form-control" id="clientPhone" th:field="*{phoneNumber}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientPhoneAlt" class="form-label">Номер телефона (доп.)</label>
                        <input type="text" class="form-control" id="clientPhoneAlt" th:field="*{phoneNumberAlt}">
                    </div>
                    <div class="col-md-12">
                        <label for="clientEmail" class="form-label">Email</label>
                        <input type="text"  required class="form-control" id="clientEmail" th:field="*{email}">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>