<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head ('Cars · Карточка сотрудника')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<section class="container mt-5 pb-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Карточка сотрудника
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/employees/edit/{id}(id=${emp.id})}" class="btn btn-sm btn-outline-warning">Редактировать</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3 ">ФИО</div>
                <div class="col-sm-9" th:text="${emp.fullName}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Автосалон</div>
                <div class="col-sm-9" th:text="${emp.dealer.name}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Должность</div>
                <div class="col-sm-9" th:text="${emp.role.name}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Номер телефона</div>
                <div class="col-sm-9" th:text="${emp.phoneNumber}"></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">Email</div>
                <div class="col-sm-9" th:text="${emp.email}"></div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>