<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head ('Cars · Сотрудники')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<section class="container mt-5 pb-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Список сотрудников
            <a sec:authorize="hasRole('ADMIN')" href="/employees/add" class="btn btn-sm btn-outline-warning">Добавить</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover no-mb">
                <thead class="table-light">
                <th class="text-center">ФИО</th>
                <th class="text-center">Автосалон</th>
                <th class="text-center">Должность</th>
                <th class="text-center">Телефон</th>
                </thead>
                <tbody>
                <tr th:each="emp : ${employees}">
                    <td><a th:href="@{/employees/view/{id}(id=${emp.id})}" th:text="${emp.fullName}"></a></td>
                    <td th:text="${emp.dealer.name}"></td>
                    <td th:text="${emp.role.name}"></td>
                    <td class="text-center" th:text="${emp.phoneNumber}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>